body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;


}
h1{
    font-size: 50px;
}
.highlights{
    color:orange;
    font-weight: 700;
}
 .about_me{
     width: 40%;
     float: left;
     
     margin-left: 5%;
     padding-left: 5%;
     padding-top: 30px;
     
 }
 .about_me img{
     width: 50%;
  }
  .top_banner{
      background-image:url("image/top-banner.png");
      background-repeat: no-repeat;
      
  }
  section{
      height: 500px;
      padding-bottom: 100px;
    }

  .button{
      background-color: yellow;
      color: white;
      font-weight: 700;
      border-radius: 20px;
      text-decoration: none;
      padding: 5px 10px;
  }
  .middle_part{
      background-image: url("image/dream-bg.png");
      background-repeat: no-repeat;
      background-position: right;
  }
  .about{
    width: 50%;
    float:left;
    
    
}
.shadow_experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 1opx;
    height: 50%;
}
.Experience{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full_stack{
    border: 7% solid;
    border-image: linear-gradient(lightSlamon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 19px;
    color: teal;
}







